@use "colours" as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  height: 100vh;
  padding: 0 2rem;
}

.h1 {
  margin: 0;
  text-decoration: underline solid 2px $blue;
}

.p, .link {
  font-size: 20px;
}

.link {
  color: blue;
}